.profile__info {
  max-width: 294px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  grid-area: info;
}

@media screen and (min-width: 720px) {
  .profile__info {
    font-size: 18px;
    line-height: 22px;
  }
}