.footer__copyright {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  box-sizing: border-box;
}

@media screen and (min-width: 840px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}
