.root {
  width: 100%;
  max-width: 920px;
  /* при решении сделать отступы бэм-миксом, понадобилась доп.ширина., т.к блок cards встает в 2 колонки*/
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 28px 0 36px;
}

@media screen and (min-width: 720px) {
  .root {
    padding-top: 45px;
    padding-bottom: 60px;
  }
}
