.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #dedddd,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #35c4f0,
    0 0 82px #35c4f0,
    0 0 92px #35c4f0,
    0 0 102px #0fa,
    0 0 151px #0fa;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 150px;
}
