.button_type_entry {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: #000;
  border-radius: 2px;
  margin-top: 17px;
  padding: 13px 84px;
  transition: 0.3s ease;
  background-color: #fff;
}
