.button_type_edit {
  background: url('../../../images/icon/icon-edit.png') no-repeat center;
  border: 1px solid #ffffff;
  background-size: inherit;
  grid-area: edit-button;
  height: 18px;
  width: 18px;
}

@media screen and (min-width: 720px) {
  .button_type_edit {
    height: 24px;
    width: 24px;
  }
}

.button_type_edit:hover {
  opacity: .6;
}