@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/animation/animaton-load.css');
@import url('./blocks/root/root.css');
@import url('./blocks/root/root__container/root__container.css');
@import url('./blocks/main/main.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/loading/loading.css');
/* PROFILE */
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__photo/profile__photo.css');
@import url('./blocks/profile/__content/profile__content.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__name/profile__name.css');
/* CARDS */
@import url('./blocks/cards/__title/cards__title.css');
@import url('./blocks/cards/__list/cards__list.css');
@import url('./blocks/cards/__item/cards__item.css');
@import url('./blocks/cards/__inner/cards__inner.css');
@import url('./blocks/cards/__image/cards__image.css');
@import url('./blocks/cards/__likes/cards__likes_items.css');
@import url('./blocks/cards/__likes/cards__likes_score.css');
/*FOOTER*/
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/* POPUP */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_image/popup__container_image.css');
/*FORM*/
@import url('./blocks/form/form.css');
@import url('./blocks/form/__input/form__input.css');
@import url('./blocks/form/__input/form__input-error.css');
@import url('./blocks/form/__inner/form__inner.css');
/*FIGURE*/
@import url('./blocks/figure/figure.css');
@import url('./blocks/figure/__image/figure__image.css');
@import url('./blocks/figure/__info/figure__info.css');
/*BUTTONS*/
@import url('./blocks/button/button.css');
@import url('./blocks/button/_type/button_type_add.css');
@import url('./blocks/button/_type/button_type_edit.css');
@import url('./blocks/button/_type/button_type_like.css');
@import url('./blocks/button/_type/button_type_like_active.css');
@import url('./blocks/button/_type/button_type_close.css');
@import url('./blocks/button/_type/button_type_save.css');
@import url('./blocks/button/_type/button_type_delete.css');
@import url('./blocks/button/_type/button_type_disable.css');
@import url('./blocks/button/_type/button_type_delete_inactive.css');
@import url('./blocks/button/_type/button_type_avatar-edit.css');

/* @import url('./blocks'); шаблон*/
.header__link-entry {
  color: #fff;
  text-decoration: none;
  /* text-align: center; */
}

.header__link-entry:hover {
  opacity: .6;
}

.button_type_entry {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  color: #000;
  border-radius: 2px;
  margin-top: 17px;
  padding: 13px 84px;
  transition: 0.3s ease;
  background-color: #fff;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0 80px;
}

.login__container {
  width: 360px;
}

.login__auth-link {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.login__auth-link:hover {
  opacity: .6;
}

.login__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 0 0 50px;
  margin: 0;
}

.form__input_login {
  background-color: black;
  color: white;
  border-bottom: 2px solid #ccc;
  font-weight: 500;
}

.form__inner_login {
  padding: 0 0 216px;
}

.popup__login-icon {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.popup__container_login {
  padding-top: 60px;
  padding-bottom: 60px;
}

.popup__login-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding: 32px 0 0;
  margin: 0;
}


/* NotFound */
.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #35C4F0,
    0 0 82px #35C4F0,
    0 0 92px #35C4F0,
    0 0 102px #0fa,
    0 0 151px #0fa;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 150px;
}

.neonText__title {
  font-size: 6.2rem;
}

.neonText__subtitle {
  font-size: 1.8rem;
}