.header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-bottom: 31px;
  padding-left: 27px;
}

@media screen and (min-width: 720px) {
  .header {
    padding-bottom: 41px;
    padding-left: 15px;
  }
}
