.form__input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000;
  font-family: inherit;
  padding-bottom: 13px;
}
